button{
  width: 50%;
  margin: 0 auto;
}

.center{
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.fontsize{
  font-size: 20px;
  height: 20px;
}

.button{
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;

}

.flexbox {
  display: flex;
  flex-direction: column;
}

#homePage{
  text-align: center;
}

#authPage{
  display: flex;
}

#authPage * {
  height: 100%;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(127, 204, 255, 0.591)
}
input{
  font-size: 30px;
  height: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
